html,
body {
    margin: 0;
    padding: 0;
    box-sizing: content-box
}

#app {
    background-color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    padding: 0;
    margin: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-image: url('/src/assets/background.jpg');
    background-size: cover;
    padding: 20px;
    display: flex;
}

.blocs-container {
    width: 100%;
    height: 100%;
    background: rgba(16, 21, 61, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.13) inset, 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 4px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.blocs {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.bloc{
    overflow: hidden;
    margin: 10px;
    background: rgba(16, 21, 61, .5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: inset 0 .5px 0 1px hsla(0, 0%, 100%, .13), inset 0 1px 0 0 hsla(0, 0%, 100%, .1), 0 4px 16px rgba(0, 0, 0, .2);
}

body {
    overflow: hidden;
    background-color: #013;
}
